/*  your css code here. If applicable */
 table {
    background-color: yellow;
    border-collapse: collapse;
  }
  table, th, td,tr{
    border: 1px solid black;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }